@charset "UTF8";

*{
    padding: 0px;
    margin: 0px;
}
:root{
    --cor0:rgba(0, 0, 0, 0.936);
    --cor1:rgba(28, 27, 27, 0.49);
    --cor2:rgb(4, 4, 4);
    --cor3:rgb(1, 203, 203) ;
    --cor4:rgba(255, 255, 255, 0.608);
    --cor5:antiquewhite;
    --font-destaque:'Courier New', Courier, monospace;
    --font-padrao: Arial, Helvetica, sans-serif;
}
html{
    scroll-behavior: smooth;}
body{
    background-color:var(--cor0);
    color: var(--cor4);
}
/*cabecalho*/
header{
    margin: auto;
    height: 60px;  
    padding-top: 0px;
    display: flex;
       
}
header nav{
    margin:auto ;
    padding: 20px;
    width: 900px;
}
.titulo {
    font-weight: 600;
    font-family: var(--font-destaque); 
    margin: auto;
    font-size: 2em;
    color: var(--cor5);
    display: flex;  
}
strong{
    color: var(--cor3);
}
.texto:hover strong{
    text-shadow: 1px 1px 3px var(--cor3);
    transition-duration: .5s;
}
header:hover strong{
    text-shadow: 1px 1px 3px var(--cor3);
    transition-duration: .5s;
}
header:hover h1{
    text-shadow: 1px 1px 3px var(--cor5);
    transition-duration: .5s;
}
/*conteudo principal*/
.corpo {
    display: column;
    columns: 2;
    max-width: 900px;
    min-width: 720px;
    margin: auto;
    padding: 20px;          
}
.texto{
    display: flex;
    display: block;
}
main h1{
    font-family: var(--font-destaque);
    color: var(--cor5);
    font-weight: 600;
    text-align: justify;
    padding: 30px;
    padding-bottom: 20px;
    font-size: 1.5em;
}
main p{
    font-family: var(--font-padrao);
    text-align: justify;
    padding: 30px;
    padding-top: 10px;
    letter-spacing: 1px; 
    font-size: .9em;
}
img{
    border-radius: 180px;
    padding: 20px;
    box-shadow: 1px 1px 3px var(--cor3);
    width: 70%;
    display: flex; 
    margin-top: 20px; 
}
img:hover{
    width: 70%;
    box-shadow: 4px 4px 4px 4px var(--cor3);
    transition-duration: 1s;
    border-radius: 100px;
}
.imagem{
    display: flex;    
}


/*contatos*/
aside{
    padding-bottom: 50px;
    display: block;
}
aside p {
    border: 20px;
    margin: auto;
    text-align: center;
    padding: 20px; 
      
}
aside a {
    padding: 10px;
    border-radius: 10px;
    background-color: var(--cor2) ;
    text-decoration: none;
    color: var(--cor3);
    font-weight: bold;
    
    border: solid;     
}
aside a:hover{
    background-color:var(--cor3)  ;
    color:var(--cor2); 
    transition-duration: .5S;  
    box-shadow:  1px 1px 1px var(--cor3);
}
/*container ocullto*/
.oculta{  
    display: none;   
}
.mostra{
    text-align: center;
    color: var(--cor3);
    margin: auto;
    margin-top: -30px;
    border-bottom: 30px;
    font-family:var(--font-padrao);
    padding-bottom: 40px;
    max-width: 600px;
    min-width: 300px;
    
}

.mostra a{ 
    padding: 10px;
    border-radius: 10px;
    background-color: var(--cor2) ;
    text-decoration: none;
    color:var(--cor3);
    font-weight: bold;
    box-shadow:  1px 1px 1px var(--cor3); 
    border: solid;
}
.mostra:hover >div{
    display: block;
    margin: auto;
    columns: 1;
    max-width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color:var(--cor4) ;
    text-decoration: none;
    color: var(--cor1);
    font-weight: normal;
    box-shadow:  4px 4px 4px 3px var(--cor3); 
    transition-duration: 1.5S;
}
.mostra:hover #projetos{
    background-color:var(--cor3) ;
    color: var(--cor2);
    transition-duration: .5S;
    
}
.pro{
    padding-top: 30px;
    border-radius: 20px;
    margin: auto; 
    display: contents;
    padding-bottom: 30px;  
}
.oculta:hover p {
    color: var(--cor2);
}
.pro a{
    margin: auto;
    width: 50%;
}
.pro a:hover{
    background-color:var(--cor3) ;
    text-decoration: none;
    color: var(--cor2);   
}
.oculta img{
    border-radius: 120px;
    width: 40%;
    display: flex;
    margin: auto;  
    background-color:var(--cor5);
    padding: 10px;
    box-shadow: 1px 2px 3px var(--cor2);
}
/*rodape*/
footer{
    background-color: var(--cor3);
    width: 100%;   
}
footer p{
    font-family: var(--font-padrao);
    color: var(--cor2);
    text-align: center;
    margin: auto;
    padding: 10px;
    text-shadow: 1px 1px 1px var(--cor4);
    height: 20px;
    font-weight: bold;
}

/*ajuste para telas menores*/

@media only screen and (max-width:740px) {
    header{
        width: 60%
    }   
    header nav {
        margin: auto;
        display: flex;
        
    }
    
    .corpo {
      width: 50%;
      margin: auto;
      display: contents;
      
      
      
    }
    .oculta{
        width: 80%;
        margin: auto;
        display: none;
    }
    .oculta :hover img{
        border-radius: 30px;
    }
        
    .imagem{
        padding: 25px;
    }
    img {
        
        display: flex;
        width: 90%; 
        padding: 20px;
        border-radius: 280px;
        margin:auto; 
    }  }